<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include('../Layouts/headSection') %>

  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div id="main-wrapper">
      <%- include('../Layouts/header') %> <%- include('../Layouts/sidebar') %>

      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title m-b-0">Static Table</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Category</th>
                      
                    </tr>
                  </thead>
              
                 
                </table>
              </div>
                <div class="card-body">
                  <h5 class="card-title m-b-0">Static Table With Checkboxes</h5>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <footer class="footer text-center">
          All Rights Reserved by Matrix-admin. Designed and Developed by
          <a href="https://wrappixel.com">WrapPixel</a>.
        </footer>
      </div>
    </div>

    <%- include('../Layouts/jsLink') %>
  </body>
</html>
